body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* 初始化样式 */
body,
html {
  width: 100%;
  height: 100%;
  overflow: auto;
}

body,
div,
p,
span,
a,
img,
input,
ul,
li,
strong,
em,
del,
ins,
i,
h1,
h2,
h3,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

input {
  border: none;
  outline: none;
}

img {
  border: none;
  vertical-align: middle;
}

i {
  font-style: normal;
}

body {
  font-size: 12px;
  line-height: 1;
}

.clearfix::after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
}

/* .w {
    width: 1200px;
    margin: 0 auto;
} */